header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.grid {
	width: 300px;
	height: 300px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: purple;
	border-radius: 10px;
}

.shooter {
	background-color: green;
}

.laser {
	background-color: orange;
}

.boom {
	background-color: red;
}

