/* styles.css */

/* Header styles */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.header-center {
	text-align: center;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section-border {
	border-style: solid;
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.image-border {
	border-style: double;
}

.image-caption {
	text-align: center;
}

/* Footer style */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
